<!-- views/dashboard.handlebars -->
{{!-- <h2>Dashboard</h2>
{{#each posts}}
  <div>
    <h3>{{this.title}}</h3>
    <p>{{this.content}}</p>
    <small>By {{this.user.name}}</small>
  </div>
{{/each}} --}}


<h1>THIS IS DASHBOARD HANDLEBARS!</h1>